body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 960px;
    margin: 0 auto;
}

input {
    padding: 5px;
    font-size: 1.2em;
}

input[type="text"] {
    border: 1px solid #ccc;
}

#reader {
    font-size: 2em;
}

#reader span {
    cursor: pointer;
}

.word {
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    padding: 5px;
    background: #ececec;
    font-size: 14px;
    font-family: 'Helvetica Neue';
}
