<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" media="screen" charset="utf-8">
    <title>GreekApp</title>
</head>
<body>
    <div id="wrap">
        <h1>GreekApp</h1>

        <input type="text" size="50" id="text" /> <input type="button" value="Go" id="go" />

        <div id="reader"></div>

    </div>
    <p id="footer">
    GreekApp was made by <a href="http://honza.ca">Honza</a>
    and it's <a href="https://github.com/honza/greekapp">open source</a>.
    </p>
<script src="{{ STATIC_URL }}base.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}ajax.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}models.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}views.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}app.js" type="text/javascript"></script>
<!--<script src="{{ STATIC_URL }}app.min.js" type="text/javascript"></script>-->
</body>
</html>
