<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8">
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/static/models.js" type="text/javascript"></script>
    <script src="/static/views.js" type="text/javascript"></script>
    <script src="/static/app.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrap">
        <h1>GreekApp</h1>

        <div id="reader"></div>
        <div id="sidebar">
            <ul id="books"></ul>
        </div>

    </div>
</body>
</html>
