body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 960px;
    margin: 10px auto;
    background: #FAFFE4;
    padding: 20px;
    border: 3px solid #ececec;
}

h1 {
    margin-top: 0;
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

input {
    padding: 5px;
    font-size: 1.2em;
}

input[type="text"] {
    border: 1px solid #ccc;
}

#reader {
    font-size: 2em;
}

#reader span {
    cursor: pointer;
}

.word {
    display: none;
    position: absolute;
    width: 300px;
    padding: 5px;
    background: #ececec;
    background: #fff;
    border: 1px solid #333;
    font-size: 14px;
    font-family: 'Helvetica Neue';
}

#footer {
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 13px;
}
